@font-face {
    font-family: Pangolin;
    src: url(./fonts/Pangolin/Pangolin-Regular.ttf);
}

@font-face {
    font-family: Frozito;
    src: url(./fonts/frozito-font/Frozito-eZ99g.ttf);
}


@font-face {
    font-family: Quicksand;
    src: url(./fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

:root {
    --main-font-shade: rgb(214, 140, 2);
    --main-border-shade-translucent: rgb(214, 140, 2, 0.5);
    --system-default-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: var(--system-default-font);
    position: relative;
    color: azure;
    caret: none;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

#crosshairs {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 2px solid rgb(225, 173, 67);
    border-radius: 50%;
    pointer-events: none;
    cursor: pointer;
    caret: none;
}

/* STYLES FOR START MENU LAYER */
.start.menu.screen {
    height: 100vh;
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0.3), rgba(18, 18, 18, 0.3)), url(./img/space/main-menu-background.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    caret: none;
}

.start.menu.screen h1 {
    margin-bottom: 1rem;
    letter-spacing: 2.2rem;
    font-size: 4rem;
    font-style: normal;
    font-family: Frozito;
    position: relative;
}

.start.menu.screen p {
    color: var(--main-font-shade);
    font-size: 6rem;
    top: 30px;
    left: 0px;
    display: inline-block;
    position: relative;
    top: 0.8rem;
}

.start.menu.screen h3 {
    margin-bottom: 9rem;
    font-size: 3.4rem;
    letter-spacing: 0.6rem;
    font-family: Pangolin;
    font-weight: 0;
}

.start.menu.screen ul {
    list-style: none;
}

.start.menu.screen li {
    font-size: 2.4rem;
    font-family: Quicksand;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0.5rem 0.7rem;
    margin-bottom: 1rem;
}

/* Give special styling to first list element child */
.start.menu.screen li:first-child {
    outline: 1px solid var(--main-border-shade-translucent);
    color: var(--main-font-shade);
}

.start.menu.screen li:first-child:hover {
    outline: 1px solid var(--main-border-shade-translucent);
    transform: scale(1.1);
}

/* Give light special styling to active buttons */
.start.menu.screen li.active,
.start.menu.screen li:hover {
    outline: 1px solid rgb(245, 245, 245, 0.5);
}

/* CONTENT OF LOADING SCREEN LAYER */

.loading.screen {
    height: 100vh;
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    background: linear-gradient(rgba(9, 1, 35, 1), rgba(9, 1, 35, 1));
    background-image: url(./img/space/main-menu-background.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.loading.message {
    font-size: 2.4rem;
    letter-spacing: 0.6rem;
    font-family: Pangolin;
    font-weight: 0;
}

.loading.screen h3 {
    margin-bottom: 0.2rem;
    font-size: 3.4rem;
    letter-spacing: 0.6rem;
    font-family: Pangolin;
    font-weight: 0;
}

/* CONTENT OF PAUSE MENU LAYER */
#paused-screen {
    height: 100vh;
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.9);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    caret: none;
}

#paused-screen h3 {
    margin-bottom: 1.9rem;
    font-size: 3.7rem;
    letter-spacing: 0.6rem;
    font-family: Pangolin;
    font-weight: 0;
}

#paused-screen ul {
    list-style: none;
}

#paused-screen li {
    font-size: 2.4rem;
    font-family: Quicksand;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0.5rem 0.7rem;
    margin-bottom: 1rem;
}

/* Give special styling to first list element child */
#paused-screen li:first-child {
    outline: 1px solid var(--main-border-shade-translucent);
    color: var(--main-font-shade);
}

#paused-screen li:first-child:hover {
    outline: 1px solid var(--main-border-shade-translucent);
    transform: scale(1.1);
}

/* Give light special styling to active buttons */
#paused-screen li.active,
#paused-screen li:hover {
    outline: 1px solid rgb(245, 245, 245, 0.5);
}

/* CONTENT OF TIP */

.tip {
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    position: absolute;
    right: 0;
    font-family: var(--system-default-font);
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 1.5rem 0px 0px 1.9rem;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50rem;
}

/*CONTENT OF START AND END AND IN-BETWEEN LEVELS STORY TEXT*/

.story-text.end.container {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(./img/space/main-menu-background.jpg);
    background-size: 100% 100%;
}

.story-text.end.container > .end {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 30rem;
    color: azure;
    background-color: rgb(0, 0, 0, 1);
    font-family: Quicksand;
    padding: 1.5em 1.5em 2.5em 1.5em;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
}

.story-text.start, .story-text.one, .story-text.two {
    z-index: 0;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 30rem;
    color: azure;
    background-color: rgb(0, 0, 0, 1);
    font-family: Quicksand;
    padding: 1.5em 1.5em 2.5em 1.5em;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
}

h4 {
    color: var(--main-font-shade);
    font-size: 2rem;
    margin-bottom: 0.9rem;
    font-family: Quicksand;
}

.story-text p {
    margin-bottom: 0.8rem;
}

.continue {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    padding: 0.2em;
    background-color: transparent;
    color: azure;
    outline: 1px solid azure;
    color: azure;
}

.end .continue {
    position: absolute;
} 

/*CONTENT OF CREDITS SCREEN*/
.credits.screen {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 1);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    font-family: Pangolin;
    text-align: center;
    overflow: hidden;
}

.scrollable-text {
    height: 100%;
    animation: scroll-up 30s linear infinite;
    animation-iteration-count: 1;
}

@keyframes scroll-up {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-180%);
    }
}

.credits.screen h3 {
    margin-bottom: 1.9rem;
    font-size: 3.7rem;
    letter-spacing: 0.6rem;
    font-weight: 0;
}

.credits.screen button {
    font-family: Pangolin;
    font-size: 1.6rem;
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    padding: 0.2em;
    background-color: transparent;
    color: azure;
    outline: 1px solid azure;
    color: azure;
}
